*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: black;
}
:root{
    --main-color : rgb(226, 0, 0);
}
/* Header */
header{
    width: 100%;
    background: radial-gradient(  rgba(0, 0, 0, 0.5)20%,rgba(0, 0, 0, 0.8)80%), url(/imgs/Header-Background\ .jpg);
    background-size: cover;
   border-bottom: 8px solid rgb(49, 49, 49);
}

/* Navbar  */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 150px;
}
.btn{
    background-color: var(--main-color);
    color: white;
    padding: 10px 18px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.8rem;
    border: none;
}
.content{
    color: white;
    width: 80%;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    margin: 150px auto;
}
.content h1{
    font-size: 3.4rem;
}
.mail{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#mail{
    background-color: rgba(0, 0, 0, 0.534);
    padding: 19px;
    color: white;
    border: none;
    outline: 1px solid gray;
    border-radius: 5px;
    font-size: 1rem;
    margin: 0 5px;
    font-weight: bold;
    width: 35%;
}
#mail::placeholder{
    color: rgb(172, 172, 172);
}

.btn2{
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5rem;
    border: none;
}


@media screen and (max-width:778px) {
   
    nav{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px;
    }
    
    .content{
        padding: 8px;
        text-align: center;
        font-size: 1.2rem;
        margin: 70px auto;
    }
    .content h1{
        font-size: 2.8rem;
    }

    .mail{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #mail{
      width: 80%;
    }
    
    .btn2{
        margin: 12px auto;
        font-size: 1.3rem;
    }
}

/* Header & Navbar End */



/* TV Section Start */

.tv-main{
    width: 100%;
    padding: 10px;
    border-bottom: 8px solid rgb(49, 49, 49);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tv-content{
    width: 50%;
    height: 100%;
    padding: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.tv-content h1{
    font-size: 3rem;
}
.tv-content p{
    font-size: 1.5rem;
    line-height: 35px;
}
.tv-video{
    width: 40%;
    height: 80%;
    background: url(../imgs/tv.png);
    background-size: cover;
    z-index: 3;
}
.video{ 
    z-index: -3;
    
}


@media screen and (max-width:778px) {
    

    .tv-main{
        width: 100%;
        padding: 10px;
        border-bottom: 8px solid rgb(49, 49, 49);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tv-content{
        width: 100%;
        height: 100%;
        padding: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tv-content h1{
        font-size: 2.6rem;
    }
    .tv-content p{
        font-size: 1.3rem;
        line-height: 33px;
    }
    .tv-video{
        width: 60%;
        background-image: url(../imgs/tv.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* TV Section End */


/* App Section Start */

.app-main{
    width: 100%;
    padding: 10px;
    border-bottom: 8px solid rgb(49, 49, 49);
    box-sizing: border-box;
    display: flex;
}

.app-img{
    width: 50%;
    height: 100%;
     padding: 30px;
}
.app-img img{
    float: right;
}

.app-content{
    width: 40%;
    height: 100%;
    padding: 80px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.app-content h1{
    font-size: 3rem;
}
.app-content p{
    font-size: 1.5rem;
    line-height: 35px;
}

@media screen and (max-width : 778px) {
    
    .app-main{
        width: 100%;
        padding: 10px;
        border-bottom: 8px solid rgb(49, 49, 49);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
    .app-img{
        width: 100%;
        height: 100%;
         padding: 30px;
    }

    .app-content{
        width: 100%;
        height: 100%;
        padding: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .app-content h1{
        font-size: 2.7rem;
    }
    .app-content p{
        font-size: 1.5rem;
        line-height: 35px;
    }
} 
    

/* App Section End */


/* Promo Section Start */
.promo-main{
    width: 100%;
    padding: 10px;
    border-bottom: 8px solid rgb(49, 49, 49);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.promo-content{
    width: 60%;
    color: white;
    padding: 10px 200px;
}
.promo-content h1{
    font-size: 3.5rem;
}
.promo-content p{
    font-size: 1.5rem;
}


@media screen and (max-width:778px) {

    .promo-main{
        width: 100%;
        padding: 10px;
        border-bottom: 8px solid rgb(49, 49, 49);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .promo-content{
        width: 100%;
        color: white;
        padding: 10px 50px;
    }
    .promo-content h1{
        font-size: 3.3rem;
    }
    .promo-content p{
        font-size: 1.5rem;
    }
    
}
/* Promo Section End */


/* Profile Section Start */

.profile-main{
    width: 100%;
    padding: 10px;
    border-bottom: 8px solid rgb(49, 49, 49);
    box-sizing: border-box;
    display: flex;
}

.profile-img{
    width: 50%;
    height: 100%;
     padding: 30px;
}
.profile-img img{
    float: right;
}

.profile-content{
    width: 45%;
    height: 100%;
    padding: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.profile-content h1{
    font-size: 3rem;
}
.profile-content p{
    font-size: 1.5rem;
    line-height: 35px;
}

@media screen and (max-width:778px) {
    .profile-main{
        width: 100%;
        padding: 10px;
        border-bottom: 8px solid rgb(49, 49, 49);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .profile-img{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    
    .profile-content{
        width: 100%;
        height: 100%;
        padding: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .profile-content h1{
        font-size: 2.6rem;
    }
    .profile-content p{
        font-size: 1.4rem;
        line-height: 35px;
    }
     
}


/* Profile Section End */


/* FAQ Section Start */

.faq-main{
    width: 100%;
    box-sizing: border-box;
    border-bottom: 8px solid rgb(49, 49, 49);
    padding: 50px 150px;
   
}
.faq-main h1{
font-size: 3.4rem;
color: white;
text-align: center;
}

.all-Questions{
    margin: 20px;
    box-sizing: border-box;
}
.questions{
    width: 100%;
    background-color:rgb(49, 49, 49);
    padding: 20px;
    margin: 8px 0px;
    display: flex;
    align-items: center;
}
.questions p{
    color: white;
    font-size: 1.5rem;
}
.icon{
    position: absolute;
    left: 80%;
    font-size: 2rem;
}
.ans{
    width: 100%;
    background-color:rgb(49, 49, 49);
    padding: 20px;
    margin-top: 5px;
    display: none;
}
.ans p{
    color: white;
    word-spacing: 2px;
    line-height: 35px;
    font-size: 1.5rem;
}
.questions-end{
    margin-top: 50px;
}
.questions-line{
    color: white;
    font-size: 1.5rem;
    text-align: center;
}

@media screen and (max-width:778px) {
    
    .faq-main{
        width: 100%;
        box-sizing: border-box;
        border-bottom: 8px solid rgb(49, 49, 49);
        padding: 50px;
       
    }
    .faq-main h1{
    font-size: 2.7rem;
    color: white;
    text-align: center;
    }
    
    .all-Questions{
        margin: 20px;
        box-sizing: border-box;
    }
    .questions{
        width: 100%;
        background-color:rgb(49, 49, 49);
        padding: 20px;
        margin: 8px 0px;
        display: flex;
        align-items: center;
    }
    .questions p{
        color: white;
        font-size: 1.5rem;
    }
    .icon{
        position: absolute;
        left: 75%;
        font-size: 2rem;
    }
    .ans{
        width: 100%;
        background-color:rgb(49, 49, 49);
        padding: 20px;
        margin-top: 5px;
        display: none;
    }
    .ans p{
        color: white;
        word-spacing: 2px;
        font-size: 1.2rem;
    }
}
/* FAQ Section End */


/* Footer Section Start  */

footer{
height: 500px;
width: 100%;
padding: 50px 0px;
display: flex;
justify-content: space-evenly;
}
.list1 ul, .list2 ul, .list3 ul{
    list-style: none;
}
.list1 ul li a , .list2 ul li a, .list3 ul li a{
    color: rgb(185, 185, 185);
}

@media screen and (max-width: 778px) {
    footer{

width: 100%;
padding: 30px 0px;
display: flex;
justify-content: space-evenly;
    }
    
    .list3{
        display: none;
    }
}

/* Footer Section End */